BAKONG_ACCOUNT_NAME=CHAMNOL MAO
BAKONG_ACCOUNT_USERNAME=chamnol_mao@bkrt
BAKONG_PHONE_NUMBER=855964124754
BAKONG_ACCESS_TOKEN=your_access_token_here
BAKONG_PROD_BASE_API_URL=https://api-bakong.nbc.gov.kh/v1
BAKONG_DEV_BASE_API_URL=https://sit-api-bakong.nbc.gov.kh/v1

# ABA PayWay / KHQR Settings
ABA_PAYWAY_ACCOUNT_ID=chamnol_mao@bkrt
ABA_PAYWAY_MERCHANT_NAME=CHAMNOL MAO
ABA_PAYWAY_MERCHANT_CITY=Phnom Penh
ABA_PAYWAY_MERCHANT_ID=100200
ABA_PAYWAY_ACQUIRING_BANK=ABA Bank

